Options -Indexes
Options +FollowSymLinks

RewriteEngine On

# Page 404 si accès vers un fichier inexistant
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?page=404 [L,QSA]

# Interdire l'accès aux dossiers spécififiés
RewriteRule ^games/ - [F]
RewriteRule ^vendor/ - [F]
RewriteRule ^node_modules/ - [F]



