Options -Indexes
Options +FollowSymLinks

RewriteEngine On

# Redirection pour l'utilisation du routeur
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ index.php/$1 [L]

# Pour le développement :
RewriteBase /comusparty/
RewriteRule ^index\\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /comusparty/index.php [L]


# Interdire l'accès aux dossiers spécififiés
RewriteRule ^games/ - [F]
RewriteRule ^vendor/ - [F]
RewriteRule ^node_modules/ - [F]

