<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <link rel="stylesheet" href="../../assets/css/builded.css">
    <script src="../../assets/js/authentification.js"></script>
</head>
<body>
    <div id="root" class="grid grid-cols-5">

            {% block leftImg %}
            <!-- Ce block est pour l'image à gauche sur les pages d'authentification -->
            {% endblock %}
            
            {% block rightForm %}
            <!-- Ce block est pour le formulaire à droite sur les pages d'authentification -->
            {% endblock %}

    </div>
</body>
</html>