{% extends "layouts/policy.twig" %}
{% block title %}CGU{% endblock %}

{% block policy %}Conditions Générales d'Utilisation{% endblock %}

{% block content %}
    <div class="mb-2">
        <div class="text-2xl font-semibold">1. Présentation du site</div>
        <p class="ml-5">Le site <strong>Comus Party</strong> accessible à l'adresse <a
                    href="http://www.comus-party.com">comus-party.com</a> est édité par Mathis RIVRAIS-NOWAKOWSKI,
            responsable légal.</p>
    </div>

    <div class="mb-2">
        <div class="text-2xl font-semibold">2. Définitions</div>
        <div class="ml-5">
            <p>Dans les présentes CGU, les termes suivants sont définis comme suit :</p>
            <ul>
                <li><strong>Utilisateur :</strong> Toute personne qui accède au site et utilise ses services.</li>
                <li><strong>Contenu :</strong> Tout texte, image, vidéo ou autre matériel publié sur le site.</li>
            </ul>
        </div>
    </div>

    <div class="mb-2">
        <div class="text-2xl font-semibold">3. Acceptation des CGU</div>
        <p class="ml-5">En accédant et en utilisant le site, vous acceptez sans réserve les présentes Conditions
            Générales
            d'Utilisation. Si vous n'acceptez pas ces conditions, vous devez vous abstenir d'utiliser le site.</p>
    </div>

    <div class="mb-2">
        <div class="text-2xl font-semibold">4. Modifications des CGU</div>
        <p class="ml-5">Comus Party se réserve le droit de modifier les présentes CGU à tout moment. Les utilisateurs
            seront informés
            de ces modifications par une mise à jour sur le site. Il est conseillé de consulter régulièrement cette page
            pour prendre connaissance des éventuelles modifications.</p>
    </div>

    <div class="mb-2">
        <div class="text-2xl font-semibold">5. Accès au site</div>
        <p class="ml-5">Comus Party s'efforce de maintenir le site accessible 24 heures sur 24, 7 jours sur 7, sauf en
            cas de force
            majeure ou d'événements hors de son contrôle. L'accès au site peut être interrompu pour des raisons de
            maintenance ou de mise à jour.</p>
    </div>

    <div class="mb-2">
        <div class="text-2xl font-semibold">6. Utilisation du site</div>
        <p class="ml-5">L'utilisateur s'engage à utiliser le site conformément aux lois en vigueur et à ne pas publier
            de contenu
            illégal, diffamatoire ou offensant. En cas de non-respect de ces obligations, Comus Party se réserve le
            droit de suspendre ou de supprimer l'accès de l'utilisateur au site.</p>
    </div>

    <div class="mb-2">
        <div class="text-2xl font-semibold">7. Liens vers d'autres sites</div>
        <p class="ml-5">Le site peut contenir des liens vers d'autres sites. Comus Party ne peut être tenu responsable
            du contenu de
            ces sites externes et encourage les utilisateurs à lire les conditions d'utilisation de chaque site
            visité.</p>
    </div>

    <div class="mb-2">
        <div class="text-2xl font-semibold">8. Responsabilités</div>
        <p class="ml-5">Comus Party ne saurait être tenu responsable des dommages directs ou indirects résultant de
            l'utilisation du
            site ou de l'impossibilité d'y accéder. Cela inclut, mais sans s'y limiter, les erreurs ou omissions dans le
            contenu, ainsi que les interruptions de service.</p>
    </div>

    <div class="mb-2">
        <div class="text-2xl font-semibold">9. Propriété intellectuelle</div>
        <p class="ml-5">Le contenu du site, y compris les textes, images, logos, et autres éléments, est protégé par le
            droit
            d'auteur et reste la propriété exclusive de Comus Party. Toute reproduction, distribution, ou utilisation
            sans autorisation préalable est interdite.</p>
    </div>

    <div class="mb-2">
        <div class="text-2xl font-semibold">10. Données personnelles</div>
        <p class="ml-5">Les informations collectées sur le site sont traitées conformément à la législation en vigueur
            sur la
            protection des données personnelles. Pour plus d'informations, veuillez consulter notre <a
                    href="politique_de_confidentialite.html">Politique de Confidentialité</a>.</p>
    </div>

    <div class="mb-2">
        <div class="text-2xl font-semibold">11. Cookies</div>
        <p class="ml-5">Le site peut utiliser des cookies pour améliorer l'expérience utilisateur. Vous pouvez gérer vos
            préférences
            de cookies via les paramètres de votre navigateur.</p>
    </div>

    <div class="mb-2">
        <div class="text-2xl font-semibold">12. Force majeure</div>
        <p class="ml-5">Comus Party ne saurait être tenu responsable des retards ou de l'impossibilité d'exécuter ses
            obligations en
            raison d'événements échappant à son contrôle, tels que des catastrophes naturelles, des guerres, des grèves,
            ou d'autres événements de force majeure.</p>
    </div>

    <div class="mb-2">
        <div class="text-2xl font-semibold">13. Droit applicable et juridiction</div>
        <p class="ml-5">Les présentes CGU sont régies par le droit français. Tout litige relatif à l'utilisation du site
            sera soumis
            à la compétence des tribunaux français.</p>
    </div>

    <div class="mb-2">
        <div class="text-2xl font-semibold">14. Contact</div>
        <p class="ml-5">Pour toute question concernant les présentes CGU, vous pouvez contacter le responsable légal à
            l'adresse
            suivante : <a href="mailto:mathis@comus-party.com">mathis@comus-party.com</a>.</p>
    </div>
{% endblock %}