{% extends "/layouts/base.twig" %}

{% block layout %}

    <header class="w-full h-16">
        <nav class="flex justify-between h-16">
            <a href="/">Comus-Party</a>
            <div>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="bg-lavender-blush-base dark:bg-night-base flex flex-grow opacity-90 h-full overflow-auto">
        <form class="grid grid-cols-3 w-full mx-20 mt-16">
            <div class="col-span-2 grid-rows-4 h-full mx-10 gap-4">
                <div class="row-span-1 mb-20">
                    <h1 class="font-sans text-2xl">Adresse de facturation</h1>
                    <div class="flex flex-row justify-between gap-2 mt-3">
                        <input type="text" value="nom" class="dark:bg-night-1 h-10 rounded-lg pl-2 w-full">
                        <input type="text" value="adresse" class="dark:bg-night-1 h-10 rounded-lg pl-2 w-full">
                    </div>
                </div>
                <div class="row-span-3">
                    <h1 class="font-sans text-2xl">Méthode de paiement</h1>
                    <div class="flex flex-col mt-3 gap-3 mb-52">

                        <!-- Carte bancaire -->

                        <div class="rounded-lg hover:outline hover:outline-night-2">
                            <input type="checkbox" id="toggleCC" class="peer hidden">
                            <label for="toggleCC" class="flex w-full h-auto p-3 bg-night-1 rounded-lg justify-between items-center gap-5 cursor-pointer
                                                        peer-checked:rounded-b-none">
                                <p class="">Carte bancaire</p>
                                <div class="bg-white rounded-lg ml-3">
                                    <img src="/assets/img/visa_mastercard.png" alt="visa_mastercard" class="h-10 p-2">
                                </div>
                            </label>

                            <div class="max-h-0 peer-checked:max-h-full peer-checked:bg-night-1 peer-checked:rounded-b-lg overflow-hidden
                                        transition-all duration-200 ease-out">
                                <div class="grid grid-cols-2 grid-rows-4 gap-2 m-4">
                                    <div class="col-span-full row-span-1">
                                        <label for="numCC">Numéro de la carte</label>
                                        <input type="text" id="numCC" value="" class="dark:bg-night-base h-10 rounded-lg pl-2 w-full">
                                    </div>
                                    <div class="col-span-full row-span-1">
                                        <label for="titulaireCC">Titulaire de la carte</label>
                                        <input type="text" id="titulaireCC" value="" class="dark:bg-night-base h-10 rounded-lg pl-2 w-full">
                                    </div>
                                    <div class="col-span-1 row-span-1">
                                        <label for="dateCC">Date d'expiration</label>
                                        <input type="text" id="dateCC" value="" class="dark:bg-night-base h-10 rounded-lg pl-2 w-full">
                                    </div>
                                    <div class="col-span-1 row-span-1">
                                        <label for="cryptogrammeCC">Cryptogramme</label>
                                        <input type="text" id="cryptogrammeCC" value="" class="dark:bg-night-base h-10 rounded-lg pl-2 w-full">
                                    </div>
                                    <div class="col-span-full row-span-1">
                                        <div class="dark:bg-night-base h-9 rounded-lg w-full pl-2">
                                            <input type="checkbox" id="saveCC">
                                            <label for="saveCC">Enregistrer la carte bancaire</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Paypal -->

                        <div class="rounded-lg hover:outline hover:outline-night-2">
                            <input type="checkbox" id="togglePaypal" class="peer hidden">
                            <label for="togglePaypal" class="flex w-full h-auto p-3 bg-night-1 rounded-lg justify-between items-center gap-5 cursor-pointer
                                                        peer-checked:rounded-b-none">
                                <p class="">Paypal</p>
                                <div class="bg-white rounded-lg ml-3">
                                    <img src="/assets/img/paypal.png" alt="visa_mastercard" class="h-10 p-2">
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col">
                <h1 class="font-sans text-2xl">Résumé</h1>
                <div class="flex-col mx-5 bg-night-1">
                    <hr>
                    <div class="flex justify-between">
                        <p>Total</p>
                        <p>-</p>
                    </div>
                </div>
            </div>
        </form>
    </main>
{% endblock %}