<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Nous avons des problèmes | Comus Party</title>

    <link rel="stylesheet" href="/assets/css/builded.css">
</head>
<body class="antialiased">
<div class="relative flex items-top justify-center min-h-screen bg-lavender-blush-base dark:bg-night-base sm:items-center sm:pt-0">
    <div class="max-w-xl mx-auto sm:px-6 lg:px-8">
        <div class="flex items-center pt-8 sm:justify-start sm:pt-0">
            <div class="px-4 text-lg text-night-2 dark:text-lavender-blush-2 border-r border-night-2 dark:border-lavender-blush-2 tracking-wider">
                {{ error }}
            </div>

            <div class="ml-4 text-lg text-night-2 dark:text-lavender-blush-2 uppercase tracking-wider">
                {{ message }}
            </div>
        </div>
    </div>
</div>
</body>
</html>