{% extends 'layouts/authentification.twig' %}

{% block title %}
    Mot de passe oublié
{% endblock %}

{% block content %}
    <div class="w-full">
        <div class="mt-4 sm:mt-0">
            <h1 class="text-3xl font-bold">Mot de passe oublié</h1>
            <p>Vous avez oublié votre mot de passe ? Nous allons vous aider à le retrouver !</p>
        </div>
        <form action="" method="post" class="mt-8 space-y-6">
            <div>
                <label for="email" class="block">Adresse email</label>
                <input type="text" name="email" id="email" class="w-full input" required>
                <p id="error-message" class="hidden">Adresse e-mail invalide</p>
            </div>

            <div>
                <button type="submit" class="w-full btn-primary">Envoyer le mail de réinitialisation</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script lang="js">
        const form = document.getElementsByTagName('form')[0];
        const input = document.getElementById('email');
        const errorMessage = document.getElementById('error-message')

        form.addEventListener('submit', (e) => {
            e.preventDefault();

            const email = document.getElementById('email').value;

            let emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
            if (!emailRegex.test(email)) {
                input.classList.add('input-error');
                errorMessage.classList.remove('hidden');
            } else {
                input.classList.remove('input-error');
                errorMessage.classList.add('hidden');
            }


            e.stopPropagation();
        });
    </script>
{% endblock %}