{% extends 'layouts/authentification.twig' %}

{% block title %}
    Mot de passe oublié
{% endblock %}

{% block content %}
    <div class="w-full">
        <div class="mt-4 sm:mt-0">
            <h1 class="text-3xl font-bold">Mot de passe oublié</h1>
            <p>Vous avez oublié votre mot de passe ? Nous allons vous aider à le retrouver !</p>
        </div>
        <form action="" method="post" class="mt-8 space-y-6">
            <div>
                <label for="email" class="block">Adresse email</label>
                <input type="email" name="email" id="email" class="w-full input" required>
            </div>

            <div>
                <button type="submit" class="w-full btn-primary">Envoyer le mail de réinitialisation</button>
            </div>
        </form>
    </div>
{% endblock %}

