{% extends '/layouts/authentification.twig' %}

{% block title %}
    Mot de passe oublié
{% endblock %}

{% block content %}
    <div class="w-full">
        <div class="mt-4 sm:mt-0">
            <h1 class="text-3xl font-bold">Mot de passe oublié</h1>
            <p>Vous avez oublié votre mot de passe ? Nous allons vous aider à le retrouver !</p>
        </div>
        F<form action="" method="post" class="mt-8 space-y-6">
            <div>
                <label for="email" class="block">Adresse email</label>
                <input onkeyup="validateEmail()" type="email" name="email" id="email" class="w-full input" placeholder="john.doe@example.com" required>
                <p id="error-message" class="input-error-text hidden">Adresse e-mail invalide</p>
            </div>

            <div>
                <button id="submitBtn" type="submit" class="w-full btn-disabled" disabled>Envoyer le mail de réinitialisation
                </button>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script lang="js">
        const form = document.getElementsByTagName('form')[0];

        function validateEmail() {
            const input = document.getElementById('email');
            const button = document.getElementById('submitBtn');
            const errorMessage = document.getElementById('error-message');
            const emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/; // Regex pour valider le format de l'email
            const email = input.value;

            if (!emailRegex.test(email)) {
                button.classList.add("btn-disabled");
                button.classList.remove("btn-primary");
                button.setAttribute("disabled", "true");
                input.classList.add("input-error");
                errorMessage.classList.add("block");
                errorMessage.classList.remove("hidden");
                return false;
            } else {
                input.classList.remove("input-error");
                button.classList.remove("btn-disabled");
                button.classList.add("btn-primary");
                button.removeAttribute("disabled");
                errorMessage.classList.remove("block");
                errorMessage.classList.add("hidden");
                return true;
            }
        }
    </script>
{% endblock %}