{% extends 'layouts/authentification.twig' %}

{% block title %}
    Connexion
{% endblock %}

{% block content %}
    <div class="w-full">
        <div class="mt-4 sm:mt-0">
            <h1 class="text-3xl font-bold">Connexion</h1>
            <p>Pour continuer veuillez vous connecter</p>
        </div>
        <form action="" method="post" class="mt-8 space-y-6">
            <div>
                <label for="email" class="block">Adresse email</label>
                <input type="email" name="email" id="email" class="w-full border border-gray-300 dark:border-gray-600 rounded-md p-2 dark:bg-night-2" required>
            </div>
            <div>
                <label for="password" class="block">Mot de passe</label>
                <input type="password" name="password" id="password" class="w-full border border-gray-300 dark:border-gray-600 rounded-md p-2 dark:bg-night-2" required>
            </div>
            <div>
                <button type="submit" class="w-full bg-blue-500 text-white rounded-md p-2 hover:bg-blue-600 focus:bg-blue-700 transition-all">Se connecter</button>
            </div>
        </form>
    </div>
{% endblock %}