{% extends 'layouts/authentification.twig' %}

{% block title %}
    Connexion
{% endblock %}

{% block content %}
    <div class="w-full">
        <div class="mt-4 sm:mt-0">
            <h1 class="text-3xl font-bold">Connexion</h1>
            <p>Pour continuer veuillez vous connecter</p>
        </div>
        <form action="" method="post" class="mt-8 space-y-6">
            <div>
                <label for="email" class="block">Adresse email</label>
                <input type="email" name="email" id="email" class="w-full input" required>
                <p class="input-error-text text-red-600 hidden" id="incorrectEmailFormat">Format d'e-mail invalide,
                    veuillez entrer un e-mail valide.</p>
            </div>
            <div>
                <label for="password" class="block">Mot de passe</label>
                <input type="password" name="password" id="password" class="w-full input" required>
            </div>

            <div>
                <button id="submitButton" type="button" class="w-full btn-primary flex justify-center" onclick="signIn(this)">Se connecter</button>
            </div>
        </form>
        <div class="flex flex-col mt-7 gap-2">
            <div class="flex justify-center">
                <a href="/forgot-password"
                   class="text-center justify dark:text-night-3 hover:underline transition-all ease-in-out">Vous avez
                    oublié votre mot de passe ? <span class="font-semibold">Réinitialisez-le</span></a>
            </div>
            <div class="flex justify-center">
                <a href="/register"
                   class="text-center justify dark:text-night-3 hover:underline transition-all ease-in-out">Vous n'avez
                    pas
                    encore de compte ? <span class="font-semibold">Inscrivez-vous dès maintenant</span></a>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script language="JavaScript">
        window.onload = function () {
            const INPUT_EMAIL = document.getElementById('email');
            INPUT_EMAIL.addEventListener("input", checkEmailRequirements);
        }

        /**
         * @brief Vérifie si l'email respecte les exigences spécifiées.
         *
         * @details La fonction vérifie si l'email:
         * - a un format valide
         * Si l'email ne respecte pas ces exigences, le bouton de soumission est désactivé
         * et un message d'erreur est affiché.
         *
         * @return void
         */
        function checkEmailRequirements() {
            // Constantes
            const EMAIL = document.getElementById("email").value; // Email
            const EMAIL_REGEX = /^[^\s@]+@[^\s@]+\.[^\s@]+$/; // Regex pour valider le format de l'email
            // Variables
            let inputEmail = document.getElementById('email');
            let incorrectEmailFormat = document.getElementById("incorrectEmailFormat");
            let submitButton = document.getElementById("submitButton");

            // Vérifications
            if (!EMAIL_REGEX.test(EMAIL)) {
                submitButton.classList.add("disabled");
                inputEmail.classList.add("input-error");
                incorrectEmailFormat.classList.add("block");
                incorrectEmailFormat.classList.remove("hidden");
            } else {
                inputEmail.classList.remove("input-error");
                submitButton.classList.remove("disabled");
                incorrectEmailFormat.classList.remove("block");
                incorrectEmailFormat.classList.add("hidden");
            }
        }

        function signIn(e) {
            loading(e);
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;
            makeRequest('POST', '/login', (response) => {
                response = JSON.parse(response);
                if (response.success) {
                    window.location.href = '/';
                } else {
                    e.innerHTML = "Se connecter";
                    e.classList.remove("btn-disabled");
                    e.classList.add("btn-primary");
                    e.disabled = false;
                    showNotification("Oups...", response.message, "red");
                }
            }, `email=${email}&password=${password}`);
        }
    </script>
{% endblock %}