{% block modalReport %}
    <div id="modalReportForm"
         class="modal hidden w-full sm:w-1/2 bg-lavender-blush-2 dark:bg-night-2 absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transition-all transform duration-300 p-5 rounded-2xl z-50">
        <div class="modal-content">
            <div class="flex justify-between">
                <div class="pb-2">
                    <p class="text-2xl font-bold">Formulaire de sanction</p>
                </div>
            </div>
            <hr>
            <div class="flex flex-col gap-y-2">
                <input type="hidden" name="reportedUuid" id="reportedUuid" value="">
                <label for="reason">Raison: </label>
                <select name="reason" id="reason" class="input">
                    <option disabled selected>Sélectionnez une option</option>
                    <option value="langage">Langage</option>
                    <option value="spam">Spam</option>
                    <option value="lien">Lien</option>
                    <option value="fairplay">Anti-jeu</option>
                    <option value="autres">Autres</option>
                </select>
                <label for="description">Description:</label>
                <textarea name="description" id="description" cols="30" rows="10" class="w-full h-32 input"></textarea>
                <div class="flex justify-end mt-5 gap-4">
                    <button type="button" class="btn-primary" onclick="sendReport()">Envoyer</button>
                    <div class="btn-secondary hover:cursor-pointer" onclick="closeModal()">Annuler</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}