{% extends '/layouts/authentification.twig' %}

{% block title %}
    Mot de passe oublié
{% endblock %}

{% block content %}
    <div class="w-full">
        <div class="mt-4 sm:mt-0">
            <h1 class="text-3xl font-bold">Réinitialiser le mot de passe</h1>
            <p>Vous pouvez maintenant réinitialiser votre mot de passe</p>
        </div>
        <form action="" method="post" class="mt-8 space-y-6">
            <div>
                <label for="password" class="block">Nouveau mot de passe</label>
                <input type="password" name="password" id="password" class="w-full input" required placeholder="●●●●●●●●●●●●"
                       pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&^#])[A-Za-z\d@$!%*?&^#]{8,}$"
                       title="Le mot de passe doit contenir au moins 8 caractères, une lettre majuscule, une lettre minuscule, un chiffre et un caractères spécial.">
            </div>

            <div>
                <label for="passwordConfirm" class="block">Confirmation de votre nouveau mot de passe</label>
                <input type="password" name="passwordConfirm" id="passwordConfirm" class="w-full input" required placeholder="●●●●●●●●●●●●"
                       pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&^#])[A-Za-z\d@$!%*?&^#]{8,}$"
                       title="Le mot de passe doit contenir au moins 8 caractères, une lettre majuscule, une lettre minuscule, un chiffre et un caractères spécial.">
            </div>

            <div>
                <button type="submit" class="w-full btn-disabled" disabled>Modifier le mot de passe</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script lang="js">

    </script>
{% endblock %}