{% extends '/layouts/authentification.twig' %}

{% block title %}
    Mot de passe oublié
{% endblock %}

{% block content %}
    <div class="w-full">
        <div class="mt-4 sm:mt-0">
            <h1 class="text-3xl font-bold">Réinitialiser le mot de passe</h1>
            <p>Vous pouvez maintenant réinitialiser votre mot de passe</p>
        </div>
        <form action="" method="post" class="mt-8 space-y-6">
            <div>
                <label for="password" class="block">Nouveau mot de passe</label>
                <input type="password" name="password" id="password" class="w-full input" required placeholder="●●●●●●●●●●●●"
                       onkeyup="checkPassword()"
                       title="Le mot de passe doit contenir au moins 8 caractères, une lettre majuscule, une lettre minuscule, un chiffre et un caractères spécial.">
            </div>

            <div>
                <p>Votre mot de passe doit contenir :</p>
                <ul class="ml-3">
                    <li id="passwordLength" class="text-red-500 flex gap-1 transition-all duration-300 ease-in-out">
                        <span id="pictoPasswordLength">
                            <svg class="p-0.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M20 20L4 4m16 0L4 20"/></svg>
                        </span>・Entre 8 et 120 caractères</li>
                    <li id="passwordCaps" class="text-red-500 flex gap-1 transition-all duration-300 ease-in-out">
                        <span id="pictoPasswordCaps">
                            <svg class="p-0.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M20 20L4 4m16 0L4 20"/></svg>
                        </span>・Au moins une majuscule</li>
                    <li id="passwordLower" class="text-red-500 flex gap-1 transition-all duration-300 ease-in-out">
                        <span id="pictoPasswordLower">
                            <svg class="p-0.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M20 20L4 4m16 0L4 20"/></svg>
                        </span>・Au moins une minuscule</li>
                    <li id="passwordNumber" class="text-red-500 flex gap-1 transition-all duration-300 ease-in-out">
                        <span id="pictoPasswordNumber">
                            <svg class="p-0.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M20 20L4 4m16 0L4 20"/></svg>
                        </span>・Au moins un chiffre</li>
                    <li id="passwordSpecialCharacter" class="text-red-500 flex gap-1 transition-all duration-300 ease-in-out">
                        <span id="pictoPasswordSpecialCharacter">
                            <svg class="p-0.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M20 20L4 4m16 0L4 20"/></svg>
                        </span>・Au moins un caractère spécial</li>
                </ul>
            </div>

            <div>
                <label for="passwordConfirm" class="block">Confirmation de votre nouveau mot de passe</label>
                <input type="password" name="passwordConfirm" id="passwordConfirm" class="w-full input" required placeholder="●●●●●●●●●●●●"
                       onkeyup="checkPassword()"
                       title="Le mot de passe doit contenir au moins 8 caractères, une lettre majuscule, une lettre minuscule, un chiffre et un caractères spécial.">
            </div>

            <div>
                <button id="submitButton" type="submit" class="w-full btn-disabled" disabled>Modifier le mot de passe</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/assets/js/reset-password.js"></script>
{% endblock %}