{%  extends "/layouts/default.twig" %}
{% block title %}Accueil{% endblock %}
{% block content %}




    <div>
        <h1 class="text-3xl text-night mt-10 ml-6 mb-4">Boutique</h1>

    </div>
    <div class="flex w-full h-2/3 justify-center items-center">
        {#    Boutique des avatars  #}
        <div class="bg-lavender-blush w-1/2 h-full rounded-3xl m-10 p-6 overflow-y-auto">
            <div class="flex flex-wrap">
                <div class="w-20 h-20 bg-night m-1">
                    <h2>Avatar1</h2>
                </div>
                <div class="w-20 h-20 bg-night m-1">
                    <h2>Avatar2</h2>
                </div>
                <div class="w-20 h-20 bg-night m-1">
                    <h2>Avatar3</h2>
                </div>
                <div class="w-20 h-20 bg-night m-1">
                    <h2>Avatar3</h2>
                </div>

                <div class="w-20 h-20 bg-night m-1">
                    <h2>Avatar1</h2>
                </div>
                <div class="w-20 h-20 bg-night m-1">
                    <h2>Avatar2</h2>
                </div>
                <div class="w-20 h-20 bg-night m-1">
                    <h2>Avatar3</h2>
                </div>
                <div class="w-20 h-20 bg-night m-1">
                    <h2>Avatar3</h2>
                </div>

                <div class="w-20 h-20 bg-night m-1">
                    <h2>Avatar1</h2>
                </div>
                <div class="w-20 h-20 bg-night m-1">
                    <h2>Avatar2</h2>
                </div>
                <div class="w-20 h-20 bg-night m-1">
                    <h2>Avatar3</h2>
                </div>
                <div class="w-20 h-20 bg-night m-1">
                    <h2>Avatar3</h2>
                </div>

                <div class="w-20 h-20 bg-night m-1">
                    <h2>Avatar1</h2>
                </div>
                <div class="w-20 h-20 bg-night m-1">
                    <h2>Avatar2</h2>
                </div>
                <div class="w-20 h-20 bg-night m-1">
                    <h2>Avatar3</h2>
                </div>
                <div class="w-20 h-20 bg-night m-1">
                    <h2>Avatar3</h2>
                </div>
                <div class="w-20 h-20 bg-night m-1">
                    <h2>Avatar1</h2>
                </div>
                <div class="w-20 h-20 bg-night m-1">
                    <h2>Avatar2</h2>
                </div>
                <div class="w-20 h-20 bg-night m-1">
                    <h2>Avatar3</h2>
                </div>
                <div class="w-20 h-20 bg-night m-1">
                    <h2>Avatar3</h2>
                </div>
                <div class="w-20 h-20 bg-night m-1">
                    <h2>Avatar3</h2>
                </div>
                <div class="w-20 h-20 bg-night m-1">
                    <h2>Avatar3</h2>
                </div>
                <div class="w-20 h-20 bg-night m-1">
                    <h2>Avatar3</h2>
                </div>

            </div>

        </div>

{#        Boutique des bannières#}


            {#            For banniere in Banniere#}
        <div class="bg-lavender-blush w-1/2 h-full rounded-3xl m-10 p-6 overflow-y-auto">
            <div class="flex flex-wrap">
                <div class="w-full h-20 bg-night m-1">
                    <h2>Avatar1</h2>
                </div>
                <div class="w-full h-20 bg-night m-1">
                    <h2>Avatar2</h2>
                </div>
                <div class="w-full h-20 bg-night m-1">
                    <h2>Avatar3</h2>
                </div>
                <div class="w-full h-20 bg-night m-1">
                    <h2>Avatar3</h2>
                </div>
                <div class="w-full h-20 bg-night m-1">
                    <h2>Avatar3</h2>
                </div>
                <div class="w-full h-20 bg-night m-1">
                    <h2>Avatar3</h2>
                </div>
                <div class="w-full h-20 bg-night m-1">
                    <h2>Avatar3</h2>
                </div>
            </div>

        </div>

    </div>



{% endblock %}