{%  extends "/layouts/default.twig" %}
{% block title %}Accueil{% endblock %}
{% block content %}





    <div class="flex w-full h-full justify-center items-center bg-amber-200">
        {#    Boutique des avatars  #}
        <div class="bg-red-500 w-1/2 h-1/2">

            <p>Avatar1</p>
            <p>Avatar2</p>
            <p>Avatar3</p>
            <p>Avatar4</p>
        </div>

{#        Boutique des bannières#}

        <div class="bg-amber-300 w-1/2 h-1/2">
            <p class="bg-amber-300" >Banniere1</p>
            <p>Banniere2</p>
            <p>Banniere3</p>
            <p>Banniere4</p>
        </div>

    </div>



{% endblock %}