{% extends 'layouts/authentification.twig' %}

{% block title %}
    Inscription
{% endblock %}

{% block content %}
    {% if confirmationValid is not null %}
        <div id="confirmationPopup" 
            class="absolute top-4 left-1/2 transform -translate-x-1/2 bg-red-500 text-white px-6 py-3 rounded-lg shadow-lg text-center z-50" 
            x-data="{ open: true }" 
            x-show="open"
            x-init="autoHidePopup()">
            <p>{{ confirmationResult }}</p>
        </div>
    {% endif %}

    <div class="w-full">
        <div class="mt-4 sm:mt-0">
            <h1 class="text-3xl font-bold">Inscription</h1>
        </div>
        
        <!-- Formulaire pour l'inscription de l'utilisateur -->
        <form id="registrationForm" action="" method="post" class="mt-8 space-y-6">
            <div class="flex flex-col m-5">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" id="username" name="username" placeholder="Nom d'utilisateur" autofocus class="w-full input" required>

                <p id="usernameTooShort" style="color: red; display: none;"></p>
                <p id="usernameForbiddenCharacters" style="color: red; display: none;"></p>
            </div>

            <div class="flex flex-col m-5">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Email" class="w-full input" required>

                <p id="incorrectEmailFormat" style="color: red; display: none;"></p>
            </div>

            <div class="flex flex-col m-5">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password" placeholder="Mot de passe" class="w-full input" required>

                <p id="passwordTooShort" style="color: red; display: none;"></p>
                <p id="passwordNoUppercase" style="color: red; display: none;"></p>
                <p id="passwordNoLowercase" style="color: red; display: none;"></p>
                <p id="passwordNoNumber" style="color: red; display: none;"></p>
                <p id="passwordNoSpecialCharacter" style="color: red; display: none;"></p>
            </div>

            <div class="flex flex-col m-5">
                <label for="passwordConfirm">Confirmation du mot de passe</label>
                <input type="password" id="passwordConfirm" name="passwordConfirm" placeholder="Confirmation du mot de passe" class="w-full input" required>

                <p id="notMachingPasswords" style="color: red; display: none;"></p>
            </div>

            <button type="submit" id="submitButton" class="w-full btn-primary">Valider</button>
        </form>
        {% if resultMessage %} <p>{{ resultMessage }}</p> {% endif %}
        {% if confirmationResult %} <p>{{ confirmationResult }}</p> {% endif %}
    </div>
{% endblock %}