{% extends 'layouts/authentification.twig' %}

{% block title %}
    Inscription
{% endblock %}

{% block content %}
    <div class="w-full">
        <div class="mt-4 sm:mt-0">
            <h1 class="text-3xl font-bold">Inscription</h1>
        </div>
        
        <!-- Formulaire pour l'inscription de l'utilisateur -->
        <form id="registrationForm" action="" method="post" class="mt-8 space-y-6">
            <div class="flex flex-col">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" id="username" name="username" placeholder="Nom d'utilisateur" autofocus class="w-full input" required>

                <p class="input-error-text text-red-600 hidden" id="usernameTooShort"></p>
                <p class="input-error-text text-red-600 hidden" id="usernameForbiddenCharacters">Le nom d'utilisateur ne doit pas contenir de caractères speciaux</p>
            </div>

            <div class="flex flex-col">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Email" class="w-full input" required>

                <p class="input-error-text text-red-600 hidden" id="incorrectEmailFormat">Format d'email invalide, veuillez entrer un email valide.</p>
            </div>

            <div class="flex flex-col">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password" placeholder="Mot de passe" class="w-full input" required>

                <p class="input-error-text text-red-600 hidden" id="passwordTooShort"></p>
                <p class="input-error-text text-red-600 hidden" id="passwordNoUppercase">Le mot de passe doit contenir au moins une majuscule</p>
                <p class="input-error-text text-red-600 hidden" id="passwordNoLowercase">Le mot de passe doit contenir au moins une minuscule</p>
                <p class="input-error-text text-red-600 hidden" id="passwordNoNumber">Le mot de passe doit contenir au moins un chiffre</p>
                <p class="input-error-text text-red-600 hidden" id="passwordNoSpecialCharacter">Le mot de passe doit contenir au moins un caractère special</p>
            </div>

            <div class="flex flex-col">
                <label for="passwordConfirm">Confirmation du mot de passe</label>
                <input type="password" id="passwordConfirm" name="passwordConfirm" placeholder="Confirmation du mot de passe" class="w-full input" required>

                <p class="input-error-text text-red-600 hidden" id="notMachingPasswords">Les mots de passe ne sont pas identiques</p>
            </div>

            <div>
                <div class="flex justify-center">
                    <input id="termsOfService" name="termsOfService" type="checkbox" required>
                    <label for="termsOfService">J'accepte les <a href="/terms-of-service" class="text-night-2 dark:text-lavender-blush-2 font-semibold hover:underline transition-all ease-in-out">conditions d'utilisation</a></label>
                </div>

                <div class="flex justify-center">
                    <input id="privacyPolicy" name="privacyPolicy" type="checkbox" required>
                    <label for="privacyPolicy">J'accepte la <a href="/privacy-policy" class="text-night-2 dark:text-lavender-blush-2 font-semibold hover:underline transition-all ease-in-out">politique de confidentialité</a></label>
                </div>
            </div>

            <button type="submit" id="submitButton" class="w-full btn-primary">Valider</button>
        </form>

        <div class="flex justify-center mt-7">
            <a href="/login"
               class="text-center justify dark:text-night-3 hover:underline transition-all ease-in-out">Vous avez déjà un compte ? <span class="font-semibold">Connectez-vous dès maintenant</span></a>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="/assets/js/authentication.js"></script>
{% endblock %}