{% extends 'layouts/authentification.twig' %}

{% block title %}
    Inscription
{% endblock %}

{% block content %}
    <div class="w-full">
        <div class="mt-4 sm:mt-0">
            <h1 class="text-3xl font-bold">Inscription</h1>
            <p>Pour continuer veuillez vous inscrire et confirmer votre compte</p>
        </div>

        <!-- Formulaire pour l'inscription de l'utilisateur -->
        <div id="registrationForm" class="mt-8 space-y-6">
            <div>
                <label for="username">Nom d'utilisateur</label>
                <input type="text" id="username" name="username" placeholder="JohnDoe" autofocus class="w-full input"
                       required>

                <p class="input-error-text text-red-600 hidden" id="usernameTooShort"></p>
                <p class="input-error-text text-red-600 hidden" id="usernameForbiddenCharacters"></p>
                <p class="input-error-text text-red-600 hidden" id="usernameTooLong"></p>
            </div>

            <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="john.doe@example.com" class="w-full input"
                       required>

                <p class="input-error-text text-red-600 hidden" id="incorrectEmailFormat"></p>
            </div>

            <div>
                <label for="password">Mot de passe</label>
                <div class="flex w-full">
                    <input type="password" id="password" name="password" placeholder="●●●●●●●●●●●●" class="w-full input"
                           required>
                    <!-- Bouton icone oeil -->
                    <button type="button" id="togglePassword" class="m-2">
                        <!-- Icone oeil -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" id="eyeOpenIcon">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                        </svg>
                        <!-- Icone oeil barré -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor" id="eyeClosedIcon">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.542-7a9.971 9.971 0 012.327-4.988m1.765-1.635A9.956 9.956 0 0112 5c4.477 0 8.267 2.943 9.542 7-.34 1.083-.81 2.083-1.387 2.98M9.879 9.879a3 3 0 104.243 4.243m-4.243-4.243L4.22 4.22m15.56 15.56l-4.242-4.242" />
                        </svg>
                    </button>
                </div>

                <p class="input-error-text text-red-600 hidden" id="passwordTooShort"></p>
                <p class="input-error-text text-red-600 hidden" id="passwordTooLong"></p>
                <p class="input-error-text text-red-600 hidden" id="passwordNoUppercase"></p>
                <p class="input-error-text text-red-600 hidden" id="passwordNoLowercase"></p>
                <p class="input-error-text text-red-600 hidden" id="passwordNoNumber"></p>
                <p class="input-error-text text-red-600 hidden" id="passwordNoSpecialCharacter"></p>
            </div>

            <div>
                <label for="passwordConfirm">Confirmation du mot de passe</label>
                <div class="flex w-full">
                    <input type="password" id="passwordConfirm" name="passwordConfirm" placeholder="●●●●●●●●●●●●"
                           class="w-full input" required>
                    <!-- Bouton icone oeil -->
                    <button type="button" id="togglePasswordConfirm" class="m-2">
                        <!-- Icone oeil -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" id="eyeOpenIconConfirm">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                        </svg>
                        <!-- Icone oeil barré -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor" id="eyeClosedIconConfirm">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.542-7a9.971 9.971 0 012.327-4.988m1.765-1.635A9.956 9.956 0 0112 5c4.477 0 8.267 2.943 9.542 7-.34 1.083-.81 2.083-1.387 2.98M9.879 9.879a3 3 0 104.243 4.243m-4.243-4.243L4.22 4.22m15.56 15.56l-4.242-4.242" />
                        </svg>
                    </button>
                </div>

                <p class="input-error-text text-red-600 hidden" id="notMatchingPasswords"></p>
            </div>

            <div
                    class="cf-turnstile"
                    data-size="flexible"
                    data-sitekey="{{ turnstile_siteKey }}"
                    data-callback="turnstileSuccessCallback"
                    data-error-callback="turnstileErrorCallback"
                    data-unsupported-callback="turnstileErrorCallback"
                    data-before-interactive-callback="turnstileManualCallback"
                    data-expired-callback="turnstileExpiredCallback"
                    data-feedback-enabled="false"
            ></div>

            <div>
                <div class="flex align-left items-center mb-2">
                    <input id="termsOfService" name="termsOfService" type="checkbox" class="flex-shrink-0 mr-2 ml-2 w-4 h-4 appearance-none border border-night-2 dark:border-night-2 rounded bg-lavender-blush-1 dark:bg-lavender-blush-1 checked:bg-blue-violet-base dark:checked:bg-blue-violet-base checked:border-celestial-blue-600 focus:outline-none focus:ring-2 focus:ring-celestial-blue-base transition-all duration-200
                    checked:before:content-['✓'] checked:before:text-white checked:before:relative checked:before:left-[2px] checked:before:bottom-[6px]"
                           required>

                    <label for="termsOfService">En cochant cette case, vous reconnaissez avoir lu et accepté les <a href="/cgu" class="text-night-2 dark:text-lavender-blush-2 font-semibold hover:underline transition-all ease-in-out">conditions d'utilisation</a></label>
                </div>

                <div class="flex align-left items-center mt-2">
                    <input id="privacyPolicy" name="privacyPolicy" type="checkbox" class="flex-shrink-0 mr-2 ml-2 w-4 h-4 appearance-none border border-night-2 dark:border-night-2 rounded bg-lavender-blush-1 dark:bg-lavender-blush-1 checked:bg-blue-violet-base dark:checked:blue-violet-base checked:border-celestial-blue-600 focus:outline-none focus:ring-2 focus:ring-celestial-blue-base transition-all duration-200
                    checked:before:content-['✓'] checked:before:text-white checked:before:relative checked:before:left-[2px] checked:before:bottom-[6px]" required>
                    <label for="privacyPolicy">En cochant cette case, vous reconnaissez avoir pris connaissance de la <a href="/privacy-policy" class="text-night-2 dark:text-lavender-blush-2 font-semibold hover:underline transition-all ease-in-out">politique de confidentialité</a></label>
                </div>
            </div>

            <div id="captcha-status" class="flex mb-2 gap-2 text-gray-500 transition-all duration-200">
                <span id="captcha-status-icon" style="width: 24px; height: 24px;">
                    <i class="loader" style="width: 22px; height: 22px;"></i>
                </span>
                <span id="captcha-status-text">Vérification Captcha en cours...</span>
            </div>

            <button type="button" id="submitButton" class="w-full btn-disabled flex justify-center"
                    onclick="signUp(this)" disabled>Valider
            </button>
        </div>

        <div class="flex justify-center mt-7">
            <a href="/login"
               class="text-center justify dark:text-night-3 hover:underline transition-all ease-in-out">Vous avez déjà un compte ? <span class="font-semibold">Connectez-vous dès maintenant</span></a>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
    <script src="/assets/js/sign-up.min.js"></script>
{% endblock %}