{% extends 'authentification_template.twig' %}

{% block left_img %}
    <div id="left-img" class="col-span-3">
        <img src="img/authentification_img/placeholder.png" alt="placeholder">
    </div>
{% endblock %}

{% block right_form %}
    <div id="right-form" class="col-span-2">
        <h1>Inscription</h1>

        <!-- Formulaire pour l'inscription de l'utilisateur -->
        <form action="" method="post" class="grid">
            <input type="text" name="username" placeholder="Nom d'utilisateur">
            <input type="email" name="email" placeholder="Email">

            <input type="password" name="password" placeholder="Mot de passe">
            <input type="password" name="password_confirm" placeholder="Confirmation du mot de passe">

            <input type="submit" value="Valider">
        </form>

    </div>
{% endblock %}