{% extends 'layouts/authentification.twig' %}

{% block title %}
    Inscription
{% endblock %}

{% block content %}
    <div class="w-full">
        <div class="mt-4 sm:mt-0">
            <h1 class="text-3xl font-bold">Inscription</h1>
        </div>
        
        <!-- Formulaire pour l'inscription de l'utilisateur -->
        <form id="registrationForm" action="" method="post" class="mt-8 space-y-6">
            <div class="flex flex-col m-5">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" id="username" name="username" placeholder="Nom d'utilisateur" autofocus class="w-full border border-gray-300 dark:border-gray-600 rounded-md p-2 dark:bg-night-2" required>
            </div>
            <p id="usernameTooShort" style="color: red; display: none;"></p>
            <p id="usernameForbiddenCharacters" style="color: red; display: none;"></p>

            <div class="flex flex-col m-5">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Email" class="w-full border border-gray-300 dark:border-gray-600 rounded-md p-2 dark:bg-night-2" required>
            </div>
            <p id="incorrectEmailFormat" style="color: red; display: none;"></p>

            <div class="flex flex-col m-5">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password" placeholder="Mot de passe" class="w-full border border-gray-300 dark:border-gray-600 rounded-md p-2 dark:bg-night-2" required>
            </div>
            <p id="passwordTooShort" style="color: red; display: none;"></p>
            <p id="passwordNoUppercase" style="color: red; display: none;"></p>
            <p id="passwordNoLowercase" style="color: red; display: none;"></p>
            <p id="passwordNoNumber" style="color: red; display: none;"></p>
            <p id="passwordNoSpecialCharacter" style="color: red; display: none;"></p>

            <div class="flex flex-col m-5">
                <label for="passwordConfirm">Confirmation du mot de passe</label>
                <input type="password" id="passwordConfirm" name="passwordConfirm" placeholder="Confirmation du mot de passe" class="w-full border border-gray-300 dark:border-gray-600 rounded-md p-2 dark:bg-night-2" required>
            </div>
            <p id="notMachingPasswords" style="color: red; display: none;"></p>

            <input type="submit" id="submitButton" value="Valider" class="w-full bg-blue-500 text-white rounded-md p-2 hover:bg-blue-600 focus:bg-blue-700 transition-all">
        </form>
        {% if resultMessage %} <p id="resultMessage">{{ resultMessage }}</p> {% endif %}
    </div>
{% endblock %}
{% block scripts %}
    <script src="/assets/js/authentication.js"></script>
{% endblock %}