<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes +FollowSymLinks
    </IfModule>

    <IfModule mod_headers.c>
        Header set Content-Security-Policy "default-src 'self'; script-src 'self' 'nonce-$nonce' https://challenges.cloudflare.com https://static.axept.io; frame-src 'self' https://challenges.cloudflare.com; connect-src 'self' https://client.axept.io https://api.axept.io; style-src 'self' 'unsafe-inline'; img-src 'self' https://axeptio.imgix.net"
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
