{% extends "/layouts/base.twig" %}

{% block title %}Payment Réussi{% endblock %}

{% block layout %}
    <div class="flex h-full w-full items-center justify-center">
        <div class="flex flex-col dark:bg-night-2 bg-lavender-blush-2 rounded-xl w-96 h-96 text-center items-center justify-center">
            <h1 class="text-2xl font-bold">Paiement Réussi</h1>
            <p class="text-lg">Merci de votre achat</p>
        </div>
    </div>
{% endblock %}