{% extends "/layouts/default.twig" %}
{% block title %}Accueil{% endblock %}
{% block content %}
    <div onclick="closeModal()" id="backgroundModal" class="hidden fixed inset-0 bg-night-1 opacity-85 z-40"></div>

    <div class="overflow-y-auto scrollbar-thumb-night-base scrollbar-track-night-base h-full w-full overflow-x-hidden">
        <h1 class="text-4xl ml-5 mt-5 font-serif">Dashboard de modération</h1>
        <div class="flex gap-4 m-8 w-full h-3/4">
            <div class="flex flex-col gap-4 h-full w-[calc(33%-2rem)]">
                <div class="h-full bg-night-1 bg-opacity-85 rounded-2xl p-3">
                    <p class="font-serif text-xl">Mes statistiques</p>
                    <div class="flex flex-col gap-2 ml-2 mt-2 h-full">
                        <p>Statistique 1</p>
                        <p>Statistique 2</p>
                        <p>Statistique 3</p>
                    </div>
                </div>
            </div>
            <div class="flex flex-col gap-4 h-full w-[calc(33%-2rem)]">
                <div class="h-full bg-night-1 bg-opacity-85 rounded-2xl p-3">
                    <p class="font-serif text-xl">Suggestions en attente</p>
                    <div class="flex flex-col gap-2 mx-2 mt-2">
                        {% for suggestion in suggestions %}
                            <div class="flex p-2 bg-night-base rounded-md hover:scale-105 transition-all ease-in-out justify-between">
                                <div class="flex">
                                    <p class="underline mr-1">Thème : </p>
                                    <p>
                                        {% if suggestion.object == enum('ComusParty\\Models\\SuggestObject').BUG %}🐛 Bug{% endif %}
                                        {% if suggestion.object == enum('ComusParty\\Models\\SuggestObject').GAME %}🎮 Jeu{% endif %}
                                        {% if suggestion.object == enum('ComusParty\\Models\\SuggestObject').UI %}📲 Interface Utilisateur{% endif %}
                                        {% if suggestion.object == enum('ComusParty\\Models\\SuggestObject').OTHER %}🔧 Autres{% endif %}
                                    </p>
                                </div>
                                <div>
                                    {{ suggestion.createdAt|time_diff }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="flex flex-col gap-4 h-full w-[calc(33%-2rem)]">
                <div class="h-full bg-night-1 bg-opacity-85 rounded-2xl p-3">
                    <p class="font-serif text-xl">Signalements en attente</p>
                    <div class="flex flex-col gap-2 ml-2 mt-2">
                        <p>Signalement 1</p>
                        <p>Signalement 2</p>
                        <p>Signalement 3</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/assets/js/home.js"></script>
{% endblock %}