{% extends "/layouts/base.twig" %}

{% block layout %}
    <div class="h-full flex flex-col">
        <header class="flex w-full items-center">
            <nav class="flex items-center justify-between w-full h-16 px-8">
                <h1>COMUS</h1>
                <p>pseudo</p>
            </nav>
        </header>
        <div class="flex flex-grow h-full">
            <div class="flex items-center justify-center h-full w-16">
                AMIS
            </div>
            <main class="bg-lavender-blush-base dark:bg-night-base flex flex-grow rounded-tl-2xl opacity-90">
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>
{% endblock %}