{% extends "/layouts/base.twig" %}

{% block layout %}
    <div class="h-full flex flex-col">
        <header class="flex w-full items-center">
            <nav class="flex items-center justify-between w-full h-16 px-8">
                <a href="/">Comus Party</a>
                <div class="flex items-center gap-5">
                    <a href="/shop">
                        <svg class="hover:scale-110 ease-in-out transition-all" xmlns="http://www.w3.org/2000/svg"
                             width="1.5em" height="1.5em" viewBox="0 0 24 24">
                            <path fill="currentColor"
                                  d="M3.778 3.655c-.181.36-.27.806-.448 1.696l-.598 2.99a3.06 3.06 0 1 0 6.043.904l.07-.69a3.167 3.167 0 1 0 6.307-.038l.073.728a3.06 3.06 0 1 0 6.043-.904l-.598-2.99c-.178-.89-.267-1.335-.448-1.696a3 3 0 0 0-1.888-1.548C17.944 2 17.49 2 16.582 2H7.418c-.908 0-1.362 0-1.752.107a3 3 0 0 0-1.888 1.548M18.269 13.5a4.53 4.53 0 0 0 2.231-.581V14c0 3.771 0 5.657-1.172 6.828c-.943.944-2.348 1.127-4.828 1.163V18.5c0-.935 0-1.402-.201-1.75a1.5 1.5 0 0 0-.549-.549C13.402 16 12.935 16 12 16s-1.402 0-1.75.201a1.5 1.5 0 0 0-.549.549c-.201.348-.201.815-.201 1.75v3.491c-2.48-.036-3.885-.22-4.828-1.163C3.5 19.657 3.5 17.771 3.5 14v-1.081a4.53 4.53 0 0 0 2.232.581a4.55 4.55 0 0 0 3.112-1.228A4.64 4.64 0 0 0 12 13.5a4.64 4.64 0 0 0 3.156-1.228a4.55 4.55 0 0 0 3.112 1.228"/>
                        </svg>
                    </a>
                    <a href="/profile" class="flex items-center gap-2 hover:scale-105 ease-in-out transition-all group">
                        <img src="/assets/img/{{ pfpPath }}" alt="pfp" class="rounded-full size-8">
                        <p class="font-semibold group-hover:border-b-2">{{ playerConnected.getUsername() }}</p>
                    </a>
                    <a href="/logout">
                        <svg class="hover:scale-110 hover:text-lavender-blush-base text-red-300 ease-in-out transition-all"
                             xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24">
                            <path fill="currentColor"
                                  d="m17 8l-1.41 1.41L17.17 11H9v2h8.17l-1.58 1.58L17 16l4-4zM5 5h7V3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h7v-2H5z"/>
                        </svg>
                    </a>
                </div>
            </nav>
        </header>
        <div class="flex flex-grow h-full">
            <div class="flex items-center justify-center h-full w-16">
                AMIS
            </div>
            <main class="bg-lavender-blush-base dark:bg-night-base flex flex-grow rounded-tl-2xl opacity-90">
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>

{% endblock %}