{% extends "layouts/base.twig" %}

{% block layout %}
    <div class="m-4 sm:m-6 bg-lavender-blush-base dark:bg-night-base flex flex-col-reverse sm:flex-row flex-grow rounded-l-2xl p-8 justify-center overflow-y-auto h-full"
         style="height: 93%">
        <div class="container w-full">
            <div class="text-4xl font-serif">
                {% block policy %}{% endblock %}
            </div>
            <div class="my-5 text-justify pb-3">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}