{% extends "layouts/base.twig" %}

{% block layout %}
    <div class="m-4 sm:m-6 bg-lavender-blush-base dark:bg-night-base flex flex-col-reverse sm:flex-row flex-grow items-center rounded-2xl h-full">
        {% block content %}{% endblock %}
    </div>
{% endblock %}